.CharacterList {
  width: 100%;
  max-width: 414px;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-top: 70px;  /* 增加上方的空間，避免和header重疊 */
  padding-bottom: 60px;  /* 底部留白，避免和bottom tab重疊 */
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 每行 5 張卡片 */
    gap: 7px; /* 卡片之間的間隙 */
    width: 100%;
    max-height: 55vh;/* 根據 header 和 navbar 的高度調整 */
    overflow-y: auto ; /* 確保縱向滾動 */
    box-sizing: border-box;
  }