.cardWrapper {
    max-width: 100%;
    /* overflow: hidden; */
    display: flex; /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
  
  .card {
    width: 80px !important;  /* 固定寬度 */
    height: 100px !important;  /* 固定高度 */
    max-width: 100vw;
    margin: 0 auto;
    padding: 16px !important;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #8bb182ef !important;
    display: flex;
    flex-direction: column; /* 讓標題與等級呈垂直排列 */
    justify-content: center; /* 垂直居中內容 */
    align-items: center; /* 水平居中內容 */
  }
  
  .content {
    padding: 0 !important;
    text-align: center; /* 使文字居中 */
  }
  
  .title {
    font-size: 15px !important;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal; /* 允許文字換行 */
  }
  
  .level {
    font-size: 16px !important;
    margin-top: 8px; /* 讓等級與名稱之間有些間距 */
    white-space: normal; /* 允許文字換行 */
  }
  