.TeamEditor{
  height: 90px!important;
  width: 59px !important;
}
.teamContainer {
  display: flex;
  height: 100px!important;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
}

.TeamEditCard {
  flex: 1 1 calc(100% / 6 - 8px)!important; /* 6卡片減間距 */
  max-width: 100%;
  height: 100px!important;
  width: 59px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.confirmButtonContainer {
  height: 48px; /* 預留空間，例如按鈕高度 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 每行 5 張卡片 */
  gap: 7px; /* 卡片之間的間隙 */
  width: 100%;
  max-height: 55vh;/* 根據 header 和 navbar 的高度調整 */
  overflow-y: auto ; /* 確保縱向滾動 */
  box-sizing: border-box;
}