.round {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .action {
    padding: 0.5rem;
    background-color: #222;
    color: white;
    border-radius: 8px;
    word-wrap: break-word; /* 確保長文字換行 */
    max-width: 100%; /* 限制最大寬度 */
    box-sizing: border-box; /* 確保內邊距不會影響寬度計算 */
  }
  
  .actor {
    font-weight: bold;
  }
  
  .actionType {
    color: #ffc107;
  }
  
  .target {
    margin-left: 0.5rem;
  }
  
  .damage {
    color: #ff4d4f;
  }
  
  .buff {
    color: #4caf50;
  }
  